Link {
    text-decoration: none;
    list-style: none;
    color: black;
}
.wanted_commercial {
    animation: roaming;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes roaming {
    from {
        transform: translateX(30%);
    }
    to {
        transform: translateX(70%);
    }
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    background-color: whitesmoke;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}
